{% extends 'school/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Painel Admistrador</h1>
  <p class="lead">Bem vindo ao Sistema de Gerenciamento Escolar</p>
  <hr class="my-4">
  <p>Selecione uma opção para continuar</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="adminsignup" role="button">Criar conta</a>
    <a class="btn btn-success btn-lg" href="adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
